wms_rft/wms_rft/Web References/WmsRft/WmsRft.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://rft.com/" targetNamespace="http://rft.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getFile" type="tns:getFile" />
  <xs:element name="getFileResponse" type="tns:getFileResponse" />
  <xs:element name="getSkuList" type="tns:getSkuList" />
  <xs:element name="getSkuListResponse" type="tns:getSkuListResponse" />
  <xs:element name="putaway" type="tns:putaway" />
  <xs:element name="putawayResponse" type="tns:putawayResponse" />
  <xs:element name="sayHelloWorldFrom" type="tns:sayHelloWorldFrom" />
  <xs:element name="sayHelloWorldFromResponse" type="tns:sayHelloWorldFromResponse" />
  <xs:complexType name="getFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element name="arg1" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:fileInfoRFT" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fileInfoRFT">
    <xs:sequence>
      <xs:element minOccurs="0" name="binData" type="xs:base64Binary" />
      <xs:element name="fileLength" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSkuList">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getSkuListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:skuVo2" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="skuVo2">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sayHelloWorldFrom">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sayHelloWorldFromResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="putaway">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element name="arg4" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="putawayResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>