wms_rft/wms_rft/Web References/WmsRft/WmsRftService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="http://rft.com/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="WmsRftService" targetNamespace="http://rft.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://webservice-server:8080/wms/services/WmsRft?xsd=1" namespace="http://rft.com/" />
    </xsd:schema>
  </types>
  <message name="getFile">
    <part name="parameters" element="tns:getFile" />
  </message>
  <message name="getFileResponse">
    <part name="parameters" element="tns:getFileResponse" />
  </message>
  <message name="getSkuList">
    <part name="parameters" element="tns:getSkuList" />
  </message>
  <message name="getSkuListResponse">
    <part name="parameters" element="tns:getSkuListResponse" />
  </message>
  <message name="sayHelloWorldFrom">
    <part name="parameters" element="tns:sayHelloWorldFrom" />
  </message>
  <message name="sayHelloWorldFromResponse">
    <part name="parameters" element="tns:sayHelloWorldFromResponse" />
  </message>
  <portType name="WmsRft">
    <operation name="getFile">
      <input wsam:Action="http://rft.com/WmsRft/getFileRequest" message="tns:getFile" />
      <output wsam:Action="http://rft.com/WmsRft/getFileResponse" message="tns:getFileResponse" />
    </operation>
    <operation name="getSkuList">
      <input wsam:Action="http://rft.com/WmsRft/getSkuListRequest" message="tns:getSkuList" />
      <output wsam:Action="http://rft.com/WmsRft/getSkuListResponse" message="tns:getSkuListResponse" />
    </operation>
    <operation name="sayHelloWorldFrom">
      <input wsam:Action="http://rft.com/WmsRft/sayHelloWorldFromRequest" message="tns:sayHelloWorldFrom" />
      <output wsam:Action="http://rft.com/WmsRft/sayHelloWorldFromResponse" message="tns:sayHelloWorldFromResponse" />
    </operation>
  </portType>
  <binding name="WmsRftPortBinding" type="tns:WmsRft">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getFile">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getSkuList">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="sayHelloWorldFrom">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WmsRftService">
    <port name="WmsRftPort" binding="tns:WmsRftPortBinding">
      <soap:address location="http://webservice-server:8080/wms/services/WmsRft" />
    </port>
  </service>
</definitions>