wms_rft/wms_rft/Web References/WmsRftEt/WmsRftService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="http://rft.ykk.wms.daifuku.co.jp/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="WmsRftService" targetNamespace="http://rft.ykk.wms.daifuku.co.jp/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://webservice-et-server:8090/wms/services/WmsRft?xsd=1" namespace="http://rft.ykk.wms.daifuku.co.jp/" />
    </xsd:schema>
  </types>
  <message name="getFile">
    <part name="parameters" element="tns:getFile" />
  </message>
  <message name="getFileResponse">
    <part name="parameters" element="tns:getFileResponse" />
  </message>
  <message name="sayHelloWorldFrom">
    <part name="parameters" element="tns:sayHelloWorldFrom" />
  </message>
  <message name="sayHelloWorldFromResponse">
    <part name="parameters" element="tns:sayHelloWorldFromResponse" />
  </message>
  <message name="getJobInfoListByBarcode">
    <part name="parameters" element="tns:getJobInfoListByBarcode" />
  </message>
  <message name="getJobInfoListByBarcodeResponse">
    <part name="parameters" element="tns:getJobInfoListByBarcodeResponse" />
  </message>
  <message name="getErrorBcrNo">
    <part name="parameters" element="tns:getErrorBcrNo" />
  </message>
  <message name="getErrorBcrNoResponse">
    <part name="parameters" element="tns:getErrorBcrNoResponse" />
  </message>
  <message name="isAdminUser">
    <part name="parameters" element="tns:isAdminUser" />
  </message>
  <message name="isAdminUserResponse">
    <part name="parameters" element="tns:isAdminUserResponse" />
  </message>
  <message name="getUnregistStockByTicketNo">
    <part name="parameters" element="tns:getUnregistStockByTicketNo" />
  </message>
  <message name="getUnregistStockByTicketNoResponse">
    <part name="parameters" element="tns:getUnregistStockByTicketNoResponse" />
  </message>
  <message name="bindTicketNoAndBucketNo">
    <part name="parameters" element="tns:bindTicketNoAndBucketNo" />
  </message>
  <message name="bindTicketNoAndBucketNoResponse">
    <part name="parameters" element="tns:bindTicketNoAndBucketNoResponse" />
  </message>
  <message name="doM2RegistPhase1">
    <part name="parameters" element="tns:doM2RegistPhase1" />
  </message>
  <message name="doM2RegistPhase1Response">
    <part name="parameters" element="tns:doM2RegistPhase1Response" />
  </message>
  <message name="getNotProcessedDestinationInstructionByTicketNo">
    <part name="parameters" element="tns:getNotProcessedDestinationInstructionByTicketNo" />
  </message>
  <message name="getNotProcessedDestinationInstructionByTicketNoResponse">
    <part name="parameters" element="tns:getNotProcessedDestinationInstructionByTicketNoResponse" />
  </message>
  <message name="doM2RegistPhase2">
    <part name="parameters" element="tns:doM2RegistPhase2" />
  </message>
  <message name="doM2RegistPhase2Response">
    <part name="parameters" element="tns:doM2RegistPhase2Response" />
  </message>
  <message name="reprintBucketCarryingInstrction1_11">
    <part name="parameters" element="tns:reprintBucketCarryingInstrction1_11" />
  </message>
  <message name="reprintBucketCarryingInstrction1_11Response">
    <part name="parameters" element="tns:reprintBucketCarryingInstrction1_11Response" />
  </message>
  <message name="getOneStockByBucketNo">
    <part name="parameters" element="tns:getOneStockByBucketNo" />
  </message>
  <message name="getOneStockByBucketNoResponse">
    <part name="parameters" element="tns:getOneStockByBucketNoResponse" />
  </message>
  <message name="peekPalletInfoByPalletNo">
    <part name="parameters" element="tns:peekPalletInfoByPalletNo" />
  </message>
  <message name="peekPalletInfoByPalletNoResponse">
    <part name="parameters" element="tns:peekPalletInfoByPalletNoResponse" />
  </message>
  <message name="peekPalletInfoByBucketNo">
    <part name="parameters" element="tns:peekPalletInfoByBucketNo" />
  </message>
  <message name="peekPalletInfoByBucketNoResponse">
    <part name="parameters" element="tns:peekPalletInfoByBucketNoResponse" />
  </message>
  <message name="getPalletInfoByPalletNoForPalletStockInBZ">
    <part name="parameters" element="tns:getPalletInfoByPalletNoForPalletStockInBZ" />
  </message>
  <message name="getPalletInfoByPalletNoForPalletStockInBZResponse">
    <part name="parameters" element="tns:getPalletInfoByPalletNoForPalletStockInBZResponse" />
  </message>
  <message name="bindPalletAndBucketsByPalletNo">
    <part name="parameters" element="tns:bindPalletAndBucketsByPalletNo" />
  </message>
  <message name="bindPalletAndBucketsByPalletNoResponse">
    <part name="parameters" element="tns:bindPalletAndBucketsByPalletNoResponse" />
  </message>
  <message name="bindPalletAndBucketsByBucketNo">
    <part name="parameters" element="tns:bindPalletAndBucketsByBucketNo" />
  </message>
  <message name="bindPalletAndBucketsByBucketNoResponse">
    <part name="parameters" element="tns:bindPalletAndBucketsByBucketNoResponse" />
  </message>
  <message name="getLocationInfoByLocationNoForPalletStockInBZ">
    <part name="parameters" element="tns:getLocationInfoByLocationNoForPalletStockInBZ" />
  </message>
  <message name="getLocationInfoByLocationNoForPalletStockInBZResponse">
    <part name="parameters" element="tns:getLocationInfoByLocationNoForPalletStockInBZResponse" />
  </message>
  <message name="doPalletStockInBZ">
    <part name="parameters" element="tns:doPalletStockInBZ" />
  </message>
  <message name="doPalletStockInBZResponse">
    <part name="parameters" element="tns:doPalletStockInBZResponse" />
  </message>
  <message name="getPalletInfoByBucketNoForPalletStockIn1F">
    <part name="parameters" element="tns:getPalletInfoByBucketNoForPalletStockIn1F" />
  </message>
  <message name="getPalletInfoByBucketNoForPalletStockIn1FResponse">
    <part name="parameters" element="tns:getPalletInfoByBucketNoForPalletStockIn1FResponse" />
  </message>
  <message name="getLocationInfoByLocationNoForPalletStockIn1F">
    <part name="parameters" element="tns:getLocationInfoByLocationNoForPalletStockIn1F" />
  </message>
  <message name="getLocationInfoByLocationNoForPalletStockIn1FResponse">
    <part name="parameters" element="tns:getLocationInfoByLocationNoForPalletStockIn1FResponse" />
  </message>
  <message name="doPalletStockIn1F">
    <part name="parameters" element="tns:doPalletStockIn1F" />
  </message>
  <message name="doPalletStockIn1FResponse">
    <part name="parameters" element="tns:doPalletStockIn1FResponse" />
  </message>
  <message name="getBucketInfoByBucketNoForBucketStockInBZ">
    <part name="parameters" element="tns:getBucketInfoByBucketNoForBucketStockInBZ" />
  </message>
  <message name="getBucketInfoByBucketNoForBucketStockInBZResponse">
    <part name="parameters" element="tns:getBucketInfoByBucketNoForBucketStockInBZResponse" />
  </message>
  <message name="getLocationInfoByLocationNoForBucketStockInBZ">
    <part name="parameters" element="tns:getLocationInfoByLocationNoForBucketStockInBZ" />
  </message>
  <message name="getLocationInfoByLocationNoForBucketStockInBZResponse">
    <part name="parameters" element="tns:getLocationInfoByLocationNoForBucketStockInBZResponse" />
  </message>
  <message name="getPalletInfoByPalletNoForBucketStockInBZ">
    <part name="parameters" element="tns:getPalletInfoByPalletNoForBucketStockInBZ" />
  </message>
  <message name="getPalletInfoByPalletNoForBucketStockInBZResponse">
    <part name="parameters" element="tns:getPalletInfoByPalletNoForBucketStockInBZResponse" />
  </message>
  <message name="doBucketStockInBZIntoLocation">
    <part name="parameters" element="tns:doBucketStockInBZIntoLocation" />
  </message>
  <message name="doBucketStockInBZIntoLocationResponse">
    <part name="parameters" element="tns:doBucketStockInBZIntoLocationResponse" />
  </message>
  <message name="doBucketStockInBZOntoPallet">
    <part name="parameters" element="tns:doBucketStockInBZOntoPallet" />
  </message>
  <message name="doBucketStockInBZOntoPalletResponse">
    <part name="parameters" element="tns:doBucketStockInBZOntoPalletResponse" />
  </message>
  <message name="getStockInfoByBagNoForBagStockInBZ">
    <part name="parameters" element="tns:getStockInfoByBagNoForBagStockInBZ" />
  </message>
  <message name="getStockInfoByBagNoForBagStockInBZResponse">
    <part name="parameters" element="tns:getStockInfoByBagNoForBagStockInBZResponse" />
  </message>
  <message name="getBucketInfoByBucketNoForBagStockInBZ">
    <part name="parameters" element="tns:getBucketInfoByBucketNoForBagStockInBZ" />
  </message>
  <message name="getBucketInfoByBucketNoForBagStockInBZResponse">
    <part name="parameters" element="tns:getBucketInfoByBucketNoForBagStockInBZResponse" />
  </message>
  <message name="doBagStockInBZ">
    <part name="parameters" element="tns:doBagStockInBZ" />
  </message>
  <message name="doBagStockInBZResponse">
    <part name="parameters" element="tns:doBagStockInBZResponse" />
  </message>
  <message name="getPalletInfoByBucketNoForPalletMove">
    <part name="parameters" element="tns:getPalletInfoByBucketNoForPalletMove" />
  </message>
  <message name="getPalletInfoByBucketNoForPalletMoveResponse">
    <part name="parameters" element="tns:getPalletInfoByBucketNoForPalletMoveResponse" />
  </message>
  <message name="getPalletInfoByBucketNoForPalletInquiry">
    <part name="parameters" element="tns:getPalletInfoByBucketNoForPalletInquiry" />
  </message>
  <message name="getPalletInfoByBucketNoForPalletInquiryResponse">
    <part name="parameters" element="tns:getPalletInfoByBucketNoForPalletInquiryResponse" />
  </message>
  <message name="getLocationInfoByLocationNoForPalletMove">
    <part name="parameters" element="tns:getLocationInfoByLocationNoForPalletMove" />
  </message>
  <message name="getLocationInfoByLocationNoForPalletMoveResponse">
    <part name="parameters" element="tns:getLocationInfoByLocationNoForPalletMoveResponse" />
  </message>
  <message name="doPalletMove">
    <part name="parameters" element="tns:doPalletMove" />
  </message>
  <message name="doPalletMoveResponse">
    <part name="parameters" element="tns:doPalletMoveResponse" />
  </message>
  <message name="getBucketInfoByBucketNoForBucketMove">
    <part name="parameters" element="tns:getBucketInfoByBucketNoForBucketMove" />
  </message>
  <message name="getBucketInfoByBucketNoForBucketMoveResponse">
    <part name="parameters" element="tns:getBucketInfoByBucketNoForBucketMoveResponse" />
  </message>
  <message name="getBucketInfoByBucketNoForBucketInquiry">
    <part name="parameters" element="tns:getBucketInfoByBucketNoForBucketInquiry" />
  </message>
  <message name="getBucketInfoByBucketNoForBucketInquiryResponse">
    <part name="parameters" element="tns:getBucketInfoByBucketNoForBucketInquiryResponse" />
  </message>
  <message name="getLocationInfoByLocationNoForBucketMove">
    <part name="parameters" element="tns:getLocationInfoByLocationNoForBucketMove" />
  </message>
  <message name="getLocationInfoByLocationNoForBucketMoveResponse">
    <part name="parameters" element="tns:getLocationInfoByLocationNoForBucketMoveResponse" />
  </message>
  <message name="doBucketMove">
    <part name="parameters" element="tns:doBucketMove" />
  </message>
  <message name="doBucketMoveResponse">
    <part name="parameters" element="tns:doBucketMoveResponse" />
  </message>
  <message name="getStockInfoByBagNoForBagMove">
    <part name="parameters" element="tns:getStockInfoByBagNoForBagMove" />
  </message>
  <message name="getStockInfoByBagNoForBagMoveResponse">
    <part name="parameters" element="tns:getStockInfoByBagNoForBagMoveResponse" />
  </message>
  <message name="getStockInfoByBagNoForBagInquiry">
    <part name="parameters" element="tns:getStockInfoByBagNoForBagInquiry" />
  </message>
  <message name="getStockInfoByBagNoForBagInquiryResponse">
    <part name="parameters" element="tns:getStockInfoByBagNoForBagInquiryResponse" />
  </message>
  <message name="getBucketInfoByBucketNoForBagMove">
    <part name="parameters" element="tns:getBucketInfoByBucketNoForBagMove" />
  </message>
  <message name="getBucketInfoByBucketNoForBagMoveResponse">
    <part name="parameters" element="tns:getBucketInfoByBucketNoForBagMoveResponse" />
  </message>
  <message name="getBucketInfoByBucketNoForUnbagStock">
    <part name="parameters" element="tns:getBucketInfoByBucketNoForUnbagStock" />
  </message>
  <message name="getBucketInfoByBucketNoForUnbagStockResponse">
    <part name="parameters" element="tns:getBucketInfoByBucketNoForUnbagStockResponse" />
  </message>
  <message name="doBagMove">
    <part name="parameters" element="tns:doBagMove" />
  </message>
  <message name="doBagMoveResponse">
    <part name="parameters" element="tns:doBagMoveResponse" />
  </message>
  <message name="doBucketDelete">
    <part name="parameters" element="tns:doBucketDelete" />
  </message>
  <message name="doBucketDeleteResponse">
    <part name="parameters" element="tns:doBucketDeleteResponse" />
  </message>
  <message name="doBagDelete">
    <part name="parameters" element="tns:doBagDelete" />
  </message>
  <message name="doBagDeleteResponse">
    <part name="parameters" element="tns:doBagDeleteResponse" />
  </message>
  <message name="changeBucketNo">
    <part name="parameters" element="tns:changeBucketNo" />
  </message>
  <message name="changeBucketNoResponse">
    <part name="parameters" element="tns:changeBucketNoResponse" />
  </message>
  <message name="changeBagNo">
    <part name="parameters" element="tns:changeBagNo" />
  </message>
  <message name="changeBagNoResponse">
    <part name="parameters" element="tns:changeBagNoResponse" />
  </message>
  <message name="getPalletJobInfoById">
    <part name="parameters" element="tns:getPalletJobInfoById" />
  </message>
  <message name="getPalletJobInfoByIdResponse">
    <part name="parameters" element="tns:getPalletJobInfoByIdResponse" />
  </message>
  <message name="getNextPalletJobInfoByCollectionJobNo">
    <part name="parameters" element="tns:getNextPalletJobInfoByCollectionJobNo" />
  </message>
  <message name="getNextPalletJobInfoByCollectionJobNoResponse">
    <part name="parameters" element="tns:getNextPalletJobInfoByCollectionJobNoResponse" />
  </message>
  <message name="donePalletJob">
    <part name="parameters" element="tns:donePalletJob" />
  </message>
  <message name="donePalletJobResponse">
    <part name="parameters" element="tns:donePalletJobResponse" />
  </message>
  <message name="doneBagJob">
    <part name="parameters" element="tns:doneBagJob" />
  </message>
  <message name="doneBagJobResponse">
    <part name="parameters" element="tns:doneBagJobResponse" />
  </message>
  <message name="getJobInfoById">
    <part name="parameters" element="tns:getJobInfoById" />
  </message>
  <message name="getJobInfoByIdResponse">
    <part name="parameters" element="tns:getJobInfoByIdResponse" />
  </message>
  <message name="getNextJobInfoByCollectionJobNo">
    <part name="parameters" element="tns:getNextJobInfoByCollectionJobNo" />
  </message>
  <message name="getNextJobInfoByCollectionJobNoResponse">
    <part name="parameters" element="tns:getNextJobInfoByCollectionJobNoResponse" />
  </message>
  <message name="doneJob">
    <part name="parameters" element="tns:doneJob" />
  </message>
  <message name="doneJobResponse">
    <part name="parameters" element="tns:doneJobResponse" />
  </message>
  <message name="printWavesTimeOutLabel">
    <part name="parameters" element="tns:printWavesTimeOutLabel" />
  </message>
  <message name="printWavesTimeOutLabelResponse">
    <part name="parameters" element="tns:printWavesTimeOutLabelResponse" />
  </message>
  <message name="printWavesTimeOutLabel2">
    <part name="parameters" element="tns:printWavesTimeOutLabel2" />
  </message>
  <message name="printWavesTimeOutLabel2Response">
    <part name="parameters" element="tns:printWavesTimeOutLabel2Response" />
  </message>
  <message name="doBcrNoRead">
    <part name="parameters" element="tns:doBcrNoRead" />
  </message>
  <message name="doBcrNoReadResponse">
    <part name="parameters" element="tns:doBcrNoReadResponse" />
  </message>
  <message name="getEmptyInfo">
    <part name="parameters" element="tns:getEmptyInfo" />
  </message>
  <message name="getEmptyInfoResponse">
    <part name="parameters" element="tns:getEmptyInfoResponse" />
  </message>
  <message name="doneBagJob2">
    <part name="parameters" element="tns:doneBagJob2" />
  </message>
  <message name="doneBagJob2Response">
    <part name="parameters" element="tns:doneBagJob2Response" />
  </message>
  <message name="getJobInfoByKey">
    <part name="parameters" element="tns:getJobInfoByKey" />
  </message>
  <message name="getJobInfoByKeyResponse">
    <part name="parameters" element="tns:getJobInfoByKeyResponse" />
  </message>
  <message name="getNextJobInfoByCollectionJobNo2">
    <part name="parameters" element="tns:getNextJobInfoByCollectionJobNo2" />
  </message>
  <message name="getNextJobInfoByCollectionJobNo2Response">
    <part name="parameters" element="tns:getNextJobInfoByCollectionJobNo2Response" />
  </message>
  <message name="doneJob2">
    <part name="parameters" element="tns:doneJob2" />
  </message>
  <message name="doneJob2Response">
    <part name="parameters" element="tns:doneJob2Response" />
  </message>
  <message name="getJobInfoListByBarcode2">
    <part name="parameters" element="tns:getJobInfoListByBarcode2" />
  </message>
  <message name="getJobInfoListByBarcode2Response">
    <part name="parameters" element="tns:getJobInfoListByBarcode2Response" />
  </message>
  <message name="jobCancel">
    <part name="parameters" element="tns:jobCancel" />
  </message>
  <message name="jobCancelResponse">
    <part name="parameters" element="tns:jobCancelResponse" />
  </message>
  <message name="bagStock">
    <part name="parameters" element="tns:bagStock" />
  </message>
  <message name="bagStockResponse">
    <part name="parameters" element="tns:bagStockResponse" />
  </message>
  <message name="unbagStock">
    <part name="parameters" element="tns:unbagStock" />
  </message>
  <message name="unbagStockResponse">
    <part name="parameters" element="tns:unbagStockResponse" />
  </message>
  <message name="getBucketInfoByBucketNoForEtError">
    <part name="parameters" element="tns:getBucketInfoByBucketNoForEtError" />
  </message>
  <message name="getBucketInfoByBucketNoForEtErrorResponse">
    <part name="parameters" element="tns:getBucketInfoByBucketNoForEtErrorResponse" />
  </message>
  <message name="doneBucketForEtError">
    <part name="parameters" element="tns:doneBucketForEtError" />
  </message>
  <message name="doneBucketForEtErrorResponse">
    <part name="parameters" element="tns:doneBucketForEtErrorResponse" />
  </message>
  <message name="cancelBucketForEtError">
    <part name="parameters" element="tns:cancelBucketForEtError" />
  </message>
  <message name="cancelBucketForEtErrorResponse">
    <part name="parameters" element="tns:cancelBucketForEtErrorResponse" />
  </message>
  <message name="deleteBucketForEtError">
    <part name="parameters" element="tns:deleteBucketForEtError" />
  </message>
  <message name="deleteBucketForEtErrorResponse">
    <part name="parameters" element="tns:deleteBucketForEtErrorResponse" />
  </message>
  <message name="getAgvInfoByCoatingMachineCode">
    <part name="parameters" element="tns:getAgvInfoByCoatingMachineCode" />
  </message>
  <message name="getAgvInfoByCoatingMachineCodeResponse">
    <part name="parameters" element="tns:getAgvInfoByCoatingMachineCodeResponse" />
  </message>
  <message name="agvRetrievalSetting">
    <part name="parameters" element="tns:agvRetrievalSetting" />
  </message>
  <message name="agvRetrievalSettingResponse">
    <part name="parameters" element="tns:agvRetrievalSettingResponse" />
  </message>
  <message name="agvCollectSetting">
    <part name="parameters" element="tns:agvCollectSetting" />
  </message>
  <message name="agvCollectSettingResponse">
    <part name="parameters" element="tns:agvCollectSettingResponse" />
  </message>
  <portType name="WmsRft">
    <operation name="getFile">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getFileRequest" message="tns:getFile" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getFileResponse" message="tns:getFileResponse" />
    </operation>
    <operation name="sayHelloWorldFrom">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/sayHelloWorldFromRequest" message="tns:sayHelloWorldFrom" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/sayHelloWorldFromResponse" message="tns:sayHelloWorldFromResponse" />
    </operation>
    <operation name="getJobInfoListByBarcode">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getJobInfoListByBarcodeRequest" message="tns:getJobInfoListByBarcode" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getJobInfoListByBarcodeResponse" message="tns:getJobInfoListByBarcodeResponse" />
    </operation>
    <operation name="getErrorBcrNo">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getErrorBcrNoRequest" message="tns:getErrorBcrNo" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getErrorBcrNoResponse" message="tns:getErrorBcrNoResponse" />
    </operation>
    <operation name="isAdminUser">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/isAdminUserRequest" message="tns:isAdminUser" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/isAdminUserResponse" message="tns:isAdminUserResponse" />
    </operation>
    <operation name="getUnregistStockByTicketNo">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getUnregistStockByTicketNoRequest" message="tns:getUnregistStockByTicketNo" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getUnregistStockByTicketNoResponse" message="tns:getUnregistStockByTicketNoResponse" />
    </operation>
    <operation name="bindTicketNoAndBucketNo">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/bindTicketNoAndBucketNoRequest" message="tns:bindTicketNoAndBucketNo" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/bindTicketNoAndBucketNoResponse" message="tns:bindTicketNoAndBucketNoResponse" />
    </operation>
    <operation name="doM2RegistPhase1">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doM2RegistPhase1Request" message="tns:doM2RegistPhase1" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doM2RegistPhase1Response" message="tns:doM2RegistPhase1Response" />
    </operation>
    <operation name="getNotProcessedDestinationInstructionByTicketNo">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getNotProcessedDestinationInstructionByTicketNoRequest" message="tns:getNotProcessedDestinationInstructionByTicketNo" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getNotProcessedDestinationInstructionByTicketNoResponse" message="tns:getNotProcessedDestinationInstructionByTicketNoResponse" />
    </operation>
    <operation name="doM2RegistPhase2">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doM2RegistPhase2Request" message="tns:doM2RegistPhase2" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doM2RegistPhase2Response" message="tns:doM2RegistPhase2Response" />
    </operation>
    <operation name="reprintBucketCarryingInstrction1_11">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/reprintBucketCarryingInstrction1_11Request" message="tns:reprintBucketCarryingInstrction1_11" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/reprintBucketCarryingInstrction1_11Response" message="tns:reprintBucketCarryingInstrction1_11Response" />
    </operation>
    <operation name="getOneStockByBucketNo">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getOneStockByBucketNoRequest" message="tns:getOneStockByBucketNo" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getOneStockByBucketNoResponse" message="tns:getOneStockByBucketNoResponse" />
    </operation>
    <operation name="peekPalletInfoByPalletNo">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/peekPalletInfoByPalletNoRequest" message="tns:peekPalletInfoByPalletNo" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/peekPalletInfoByPalletNoResponse" message="tns:peekPalletInfoByPalletNoResponse" />
    </operation>
    <operation name="peekPalletInfoByBucketNo">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/peekPalletInfoByBucketNoRequest" message="tns:peekPalletInfoByBucketNo" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/peekPalletInfoByBucketNoResponse" message="tns:peekPalletInfoByBucketNoResponse" />
    </operation>
    <operation name="getPalletInfoByPalletNoForPalletStockInBZ">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getPalletInfoByPalletNoForPalletStockInBZRequest" message="tns:getPalletInfoByPalletNoForPalletStockInBZ" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getPalletInfoByPalletNoForPalletStockInBZResponse" message="tns:getPalletInfoByPalletNoForPalletStockInBZResponse" />
    </operation>
    <operation name="bindPalletAndBucketsByPalletNo">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/bindPalletAndBucketsByPalletNoRequest" message="tns:bindPalletAndBucketsByPalletNo" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/bindPalletAndBucketsByPalletNoResponse" message="tns:bindPalletAndBucketsByPalletNoResponse" />
    </operation>
    <operation name="bindPalletAndBucketsByBucketNo">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/bindPalletAndBucketsByBucketNoRequest" message="tns:bindPalletAndBucketsByBucketNo" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/bindPalletAndBucketsByBucketNoResponse" message="tns:bindPalletAndBucketsByBucketNoResponse" />
    </operation>
    <operation name="getLocationInfoByLocationNoForPalletStockInBZ">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getLocationInfoByLocationNoForPalletStockInBZRequest" message="tns:getLocationInfoByLocationNoForPalletStockInBZ" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getLocationInfoByLocationNoForPalletStockInBZResponse" message="tns:getLocationInfoByLocationNoForPalletStockInBZResponse" />
    </operation>
    <operation name="doPalletStockInBZ">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doPalletStockInBZRequest" message="tns:doPalletStockInBZ" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doPalletStockInBZResponse" message="tns:doPalletStockInBZResponse" />
    </operation>
    <operation name="getPalletInfoByBucketNoForPalletStockIn1F">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getPalletInfoByBucketNoForPalletStockIn1FRequest" message="tns:getPalletInfoByBucketNoForPalletStockIn1F" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getPalletInfoByBucketNoForPalletStockIn1FResponse" message="tns:getPalletInfoByBucketNoForPalletStockIn1FResponse" />
    </operation>
    <operation name="getLocationInfoByLocationNoForPalletStockIn1F">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getLocationInfoByLocationNoForPalletStockIn1FRequest" message="tns:getLocationInfoByLocationNoForPalletStockIn1F" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getLocationInfoByLocationNoForPalletStockIn1FResponse" message="tns:getLocationInfoByLocationNoForPalletStockIn1FResponse" />
    </operation>
    <operation name="doPalletStockIn1F">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doPalletStockIn1FRequest" message="tns:doPalletStockIn1F" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doPalletStockIn1FResponse" message="tns:doPalletStockIn1FResponse" />
    </operation>
    <operation name="getBucketInfoByBucketNoForBucketStockInBZ">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getBucketInfoByBucketNoForBucketStockInBZRequest" message="tns:getBucketInfoByBucketNoForBucketStockInBZ" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getBucketInfoByBucketNoForBucketStockInBZResponse" message="tns:getBucketInfoByBucketNoForBucketStockInBZResponse" />
    </operation>
    <operation name="getLocationInfoByLocationNoForBucketStockInBZ">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getLocationInfoByLocationNoForBucketStockInBZRequest" message="tns:getLocationInfoByLocationNoForBucketStockInBZ" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getLocationInfoByLocationNoForBucketStockInBZResponse" message="tns:getLocationInfoByLocationNoForBucketStockInBZResponse" />
    </operation>
    <operation name="getPalletInfoByPalletNoForBucketStockInBZ">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getPalletInfoByPalletNoForBucketStockInBZRequest" message="tns:getPalletInfoByPalletNoForBucketStockInBZ" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getPalletInfoByPalletNoForBucketStockInBZResponse" message="tns:getPalletInfoByPalletNoForBucketStockInBZResponse" />
    </operation>
    <operation name="doBucketStockInBZIntoLocation">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doBucketStockInBZIntoLocationRequest" message="tns:doBucketStockInBZIntoLocation" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doBucketStockInBZIntoLocationResponse" message="tns:doBucketStockInBZIntoLocationResponse" />
    </operation>
    <operation name="doBucketStockInBZOntoPallet">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doBucketStockInBZOntoPalletRequest" message="tns:doBucketStockInBZOntoPallet" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doBucketStockInBZOntoPalletResponse" message="tns:doBucketStockInBZOntoPalletResponse" />
    </operation>
    <operation name="getStockInfoByBagNoForBagStockInBZ">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getStockInfoByBagNoForBagStockInBZRequest" message="tns:getStockInfoByBagNoForBagStockInBZ" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getStockInfoByBagNoForBagStockInBZResponse" message="tns:getStockInfoByBagNoForBagStockInBZResponse" />
    </operation>
    <operation name="getBucketInfoByBucketNoForBagStockInBZ">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getBucketInfoByBucketNoForBagStockInBZRequest" message="tns:getBucketInfoByBucketNoForBagStockInBZ" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getBucketInfoByBucketNoForBagStockInBZResponse" message="tns:getBucketInfoByBucketNoForBagStockInBZResponse" />
    </operation>
    <operation name="doBagStockInBZ">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doBagStockInBZRequest" message="tns:doBagStockInBZ" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doBagStockInBZResponse" message="tns:doBagStockInBZResponse" />
    </operation>
    <operation name="getPalletInfoByBucketNoForPalletMove">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getPalletInfoByBucketNoForPalletMoveRequest" message="tns:getPalletInfoByBucketNoForPalletMove" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getPalletInfoByBucketNoForPalletMoveResponse" message="tns:getPalletInfoByBucketNoForPalletMoveResponse" />
    </operation>
    <operation name="getPalletInfoByBucketNoForPalletInquiry">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getPalletInfoByBucketNoForPalletInquiryRequest" message="tns:getPalletInfoByBucketNoForPalletInquiry" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getPalletInfoByBucketNoForPalletInquiryResponse" message="tns:getPalletInfoByBucketNoForPalletInquiryResponse" />
    </operation>
    <operation name="getLocationInfoByLocationNoForPalletMove">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getLocationInfoByLocationNoForPalletMoveRequest" message="tns:getLocationInfoByLocationNoForPalletMove" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getLocationInfoByLocationNoForPalletMoveResponse" message="tns:getLocationInfoByLocationNoForPalletMoveResponse" />
    </operation>
    <operation name="doPalletMove">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doPalletMoveRequest" message="tns:doPalletMove" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doPalletMoveResponse" message="tns:doPalletMoveResponse" />
    </operation>
    <operation name="getBucketInfoByBucketNoForBucketMove">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getBucketInfoByBucketNoForBucketMoveRequest" message="tns:getBucketInfoByBucketNoForBucketMove" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getBucketInfoByBucketNoForBucketMoveResponse" message="tns:getBucketInfoByBucketNoForBucketMoveResponse" />
    </operation>
    <operation name="getBucketInfoByBucketNoForBucketInquiry">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getBucketInfoByBucketNoForBucketInquiryRequest" message="tns:getBucketInfoByBucketNoForBucketInquiry" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getBucketInfoByBucketNoForBucketInquiryResponse" message="tns:getBucketInfoByBucketNoForBucketInquiryResponse" />
    </operation>
    <operation name="getLocationInfoByLocationNoForBucketMove">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getLocationInfoByLocationNoForBucketMoveRequest" message="tns:getLocationInfoByLocationNoForBucketMove" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getLocationInfoByLocationNoForBucketMoveResponse" message="tns:getLocationInfoByLocationNoForBucketMoveResponse" />
    </operation>
    <operation name="doBucketMove">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doBucketMoveRequest" message="tns:doBucketMove" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doBucketMoveResponse" message="tns:doBucketMoveResponse" />
    </operation>
    <operation name="getStockInfoByBagNoForBagMove">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getStockInfoByBagNoForBagMoveRequest" message="tns:getStockInfoByBagNoForBagMove" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getStockInfoByBagNoForBagMoveResponse" message="tns:getStockInfoByBagNoForBagMoveResponse" />
    </operation>
    <operation name="getStockInfoByBagNoForBagInquiry">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getStockInfoByBagNoForBagInquiryRequest" message="tns:getStockInfoByBagNoForBagInquiry" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getStockInfoByBagNoForBagInquiryResponse" message="tns:getStockInfoByBagNoForBagInquiryResponse" />
    </operation>
    <operation name="getBucketInfoByBucketNoForBagMove">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getBucketInfoByBucketNoForBagMoveRequest" message="tns:getBucketInfoByBucketNoForBagMove" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getBucketInfoByBucketNoForBagMoveResponse" message="tns:getBucketInfoByBucketNoForBagMoveResponse" />
    </operation>
    <operation name="getBucketInfoByBucketNoForUnbagStock">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getBucketInfoByBucketNoForUnbagStockRequest" message="tns:getBucketInfoByBucketNoForUnbagStock" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getBucketInfoByBucketNoForUnbagStockResponse" message="tns:getBucketInfoByBucketNoForUnbagStockResponse" />
    </operation>
    <operation name="doBagMove">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doBagMoveRequest" message="tns:doBagMove" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doBagMoveResponse" message="tns:doBagMoveResponse" />
    </operation>
    <operation name="doBucketDelete">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doBucketDeleteRequest" message="tns:doBucketDelete" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doBucketDeleteResponse" message="tns:doBucketDeleteResponse" />
    </operation>
    <operation name="doBagDelete">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doBagDeleteRequest" message="tns:doBagDelete" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doBagDeleteResponse" message="tns:doBagDeleteResponse" />
    </operation>
    <operation name="changeBucketNo">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/changeBucketNoRequest" message="tns:changeBucketNo" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/changeBucketNoResponse" message="tns:changeBucketNoResponse" />
    </operation>
    <operation name="changeBagNo">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/changeBagNoRequest" message="tns:changeBagNo" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/changeBagNoResponse" message="tns:changeBagNoResponse" />
    </operation>
    <operation name="getPalletJobInfoById">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getPalletJobInfoByIdRequest" message="tns:getPalletJobInfoById" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getPalletJobInfoByIdResponse" message="tns:getPalletJobInfoByIdResponse" />
    </operation>
    <operation name="getNextPalletJobInfoByCollectionJobNo">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getNextPalletJobInfoByCollectionJobNoRequest" message="tns:getNextPalletJobInfoByCollectionJobNo" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getNextPalletJobInfoByCollectionJobNoResponse" message="tns:getNextPalletJobInfoByCollectionJobNoResponse" />
    </operation>
    <operation name="donePalletJob">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/donePalletJobRequest" message="tns:donePalletJob" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/donePalletJobResponse" message="tns:donePalletJobResponse" />
    </operation>
    <operation name="doneBagJob">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doneBagJobRequest" message="tns:doneBagJob" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doneBagJobResponse" message="tns:doneBagJobResponse" />
    </operation>
    <operation name="getJobInfoById">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getJobInfoByIdRequest" message="tns:getJobInfoById" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getJobInfoByIdResponse" message="tns:getJobInfoByIdResponse" />
    </operation>
    <operation name="getNextJobInfoByCollectionJobNo">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getNextJobInfoByCollectionJobNoRequest" message="tns:getNextJobInfoByCollectionJobNo" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getNextJobInfoByCollectionJobNoResponse" message="tns:getNextJobInfoByCollectionJobNoResponse" />
    </operation>
    <operation name="doneJob">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doneJobRequest" message="tns:doneJob" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doneJobResponse" message="tns:doneJobResponse" />
    </operation>
    <operation name="printWavesTimeOutLabel">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/printWavesTimeOutLabelRequest" message="tns:printWavesTimeOutLabel" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/printWavesTimeOutLabelResponse" message="tns:printWavesTimeOutLabelResponse" />
    </operation>
    <operation name="printWavesTimeOutLabel2">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/printWavesTimeOutLabel2Request" message="tns:printWavesTimeOutLabel2" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/printWavesTimeOutLabel2Response" message="tns:printWavesTimeOutLabel2Response" />
    </operation>
    <operation name="doBcrNoRead">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doBcrNoReadRequest" message="tns:doBcrNoRead" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doBcrNoReadResponse" message="tns:doBcrNoReadResponse" />
    </operation>
    <operation name="getEmptyInfo">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getEmptyInfoRequest" message="tns:getEmptyInfo" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getEmptyInfoResponse" message="tns:getEmptyInfoResponse" />
    </operation>
    <operation name="doneBagJob2">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doneBagJob2Request" message="tns:doneBagJob2" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doneBagJob2Response" message="tns:doneBagJob2Response" />
    </operation>
    <operation name="getJobInfoByKey">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getJobInfoByKeyRequest" message="tns:getJobInfoByKey" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getJobInfoByKeyResponse" message="tns:getJobInfoByKeyResponse" />
    </operation>
    <operation name="getNextJobInfoByCollectionJobNo2">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getNextJobInfoByCollectionJobNo2Request" message="tns:getNextJobInfoByCollectionJobNo2" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getNextJobInfoByCollectionJobNo2Response" message="tns:getNextJobInfoByCollectionJobNo2Response" />
    </operation>
    <operation name="doneJob2">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doneJob2Request" message="tns:doneJob2" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doneJob2Response" message="tns:doneJob2Response" />
    </operation>
    <operation name="getJobInfoListByBarcode2">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getJobInfoListByBarcode2Request" message="tns:getJobInfoListByBarcode2" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getJobInfoListByBarcode2Response" message="tns:getJobInfoListByBarcode2Response" />
    </operation>
    <operation name="jobCancel">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/jobCancelRequest" message="tns:jobCancel" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/jobCancelResponse" message="tns:jobCancelResponse" />
    </operation>
    <operation name="bagStock">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/bagStockRequest" message="tns:bagStock" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/bagStockResponse" message="tns:bagStockResponse" />
    </operation>
    <operation name="unbagStock">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/unbagStockRequest" message="tns:unbagStock" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/unbagStockResponse" message="tns:unbagStockResponse" />
    </operation>
    <operation name="getBucketInfoByBucketNoForEtError">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getBucketInfoByBucketNoForEtErrorRequest" message="tns:getBucketInfoByBucketNoForEtError" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getBucketInfoByBucketNoForEtErrorResponse" message="tns:getBucketInfoByBucketNoForEtErrorResponse" />
    </operation>
    <operation name="doneBucketForEtError">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doneBucketForEtErrorRequest" message="tns:doneBucketForEtError" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/doneBucketForEtErrorResponse" message="tns:doneBucketForEtErrorResponse" />
    </operation>
    <operation name="cancelBucketForEtError">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/cancelBucketForEtErrorRequest" message="tns:cancelBucketForEtError" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/cancelBucketForEtErrorResponse" message="tns:cancelBucketForEtErrorResponse" />
    </operation>
    <operation name="deleteBucketForEtError">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/deleteBucketForEtErrorRequest" message="tns:deleteBucketForEtError" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/deleteBucketForEtErrorResponse" message="tns:deleteBucketForEtErrorResponse" />
    </operation>
    <operation name="getAgvInfoByCoatingMachineCode">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getAgvInfoByCoatingMachineCodeRequest" message="tns:getAgvInfoByCoatingMachineCode" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/getAgvInfoByCoatingMachineCodeResponse" message="tns:getAgvInfoByCoatingMachineCodeResponse" />
    </operation>
    <operation name="agvRetrievalSetting">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/agvRetrievalSettingRequest" message="tns:agvRetrievalSetting" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/agvRetrievalSettingResponse" message="tns:agvRetrievalSettingResponse" />
    </operation>
    <operation name="agvCollectSetting">
      <input wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/agvCollectSettingRequest" message="tns:agvCollectSetting" />
      <output wsam:Action="http://rft.ykk.wms.daifuku.co.jp/WmsRft/agvCollectSettingResponse" message="tns:agvCollectSettingResponse" />
    </operation>
  </portType>
  <binding name="WmsRftPortBinding" type="tns:WmsRft">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getFile">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="sayHelloWorldFrom">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getJobInfoListByBarcode">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getErrorBcrNo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="isAdminUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getUnregistStockByTicketNo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="bindTicketNoAndBucketNo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="doM2RegistPhase1">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getNotProcessedDestinationInstructionByTicketNo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="doM2RegistPhase2">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="reprintBucketCarryingInstrction1_11">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getOneStockByBucketNo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="peekPalletInfoByPalletNo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="peekPalletInfoByBucketNo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getPalletInfoByPalletNoForPalletStockInBZ">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="bindPalletAndBucketsByPalletNo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="bindPalletAndBucketsByBucketNo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getLocationInfoByLocationNoForPalletStockInBZ">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="doPalletStockInBZ">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getPalletInfoByBucketNoForPalletStockIn1F">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getLocationInfoByLocationNoForPalletStockIn1F">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="doPalletStockIn1F">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getBucketInfoByBucketNoForBucketStockInBZ">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getLocationInfoByLocationNoForBucketStockInBZ">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getPalletInfoByPalletNoForBucketStockInBZ">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="doBucketStockInBZIntoLocation">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="doBucketStockInBZOntoPallet">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getStockInfoByBagNoForBagStockInBZ">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getBucketInfoByBucketNoForBagStockInBZ">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="doBagStockInBZ">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getPalletInfoByBucketNoForPalletMove">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getPalletInfoByBucketNoForPalletInquiry">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getLocationInfoByLocationNoForPalletMove">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="doPalletMove">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getBucketInfoByBucketNoForBucketMove">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getBucketInfoByBucketNoForBucketInquiry">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getLocationInfoByLocationNoForBucketMove">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="doBucketMove">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getStockInfoByBagNoForBagMove">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getStockInfoByBagNoForBagInquiry">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getBucketInfoByBucketNoForBagMove">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getBucketInfoByBucketNoForUnbagStock">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="doBagMove">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="doBucketDelete">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="doBagDelete">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="changeBucketNo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="changeBagNo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getPalletJobInfoById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getNextPalletJobInfoByCollectionJobNo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="donePalletJob">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="doneBagJob">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getJobInfoById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getNextJobInfoByCollectionJobNo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="doneJob">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="printWavesTimeOutLabel">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="printWavesTimeOutLabel2">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="doBcrNoRead">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getEmptyInfo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="doneBagJob2">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getJobInfoByKey">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getNextJobInfoByCollectionJobNo2">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="doneJob2">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getJobInfoListByBarcode2">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="jobCancel">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="bagStock">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="unbagStock">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getBucketInfoByBucketNoForEtError">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="doneBucketForEtError">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cancelBucketForEtError">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteBucketForEtError">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAgvInfoByCoatingMachineCode">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agvRetrievalSetting">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agvCollectSetting">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WmsRftService">
    <port name="WmsRftPort" binding="tns:WmsRftPortBinding">
      <soap:address location="http://webservice-et-server:8090/wms/services/WmsRft" />
    </port>
  </service>
</definitions>